<p>Combain</p>
<% if !@x2t_last.nil? %>
<p>Last x2t: <b><%=@x2t_last.version%></b></p>
<p>Upload Data: <b><%=@x2t_last.created_at%></b></p>
    <% else %>
    <p>Last x2t is not found </p>
<% end %>

<p>Upload new x2t</p>
<%= form_tag({action: :update}, multipart: true) do %>
    <%= file_field_tag 'x2t' %>
    <%= submit_tag 'Upload' %>
<% end %>

<div>
  <p>Convert custom file</p>
  <%= form_tag({action: :upload_file}, multipart: true) do %>
      <%= file_field_tag 'custom_file' %>
      <%= select_tag :convert_to, options_for_select(["docx", "xlsx", "pptx"])  %>
      <%= submit_tag 'Convert' %>
  <% end %>
</div>