<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Combain</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="well">
          <% if !X2t.last.nil? %>
          <span>
          <p>Current X2t: <b><%= X2t.last.version %></b>
          </span>
              <span> at <b><%= X2t.last.created_at %></span></p>
          <% else %>
              <p>Last x2t is not found </p>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <%= form_tag('/upload_x2t', multipart: true) do %>
            <div class="file_upload">
              <span>New x2t</span>
              <%= file_field_tag 'x2t', id: "upload_x2t_input" %>
            </div>
            <%= submit_tag 'Upload', id: 'upload_x2t_button', class: "hidden", :disabled => @runing_status %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="well">
          <%= form_tag('/upload_file', multipart: true) do %>
              <div class="row">
                <div class="col-md-4" style="margin-top: 10px;">
                  <%= file_field_tag 'custom_file' %>
                </div>
                <div class="col-md-8">
                  <span class="pull-right">
                    <%= select_tag :convert_to, options_for_select(["docx", "xlsx", "pptx"]) %>
                  </span>
                </div>
                <%= submit_tag 'Convert', class: "hidden", id: "custom_file_button_convert" %>
              </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="file_upload" id="custom_file_convert">
          <span>Convert</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="well">
          <div class="all_files_convert">
            <%= form_tag('/convert_all_by_format', multipart: true, convert_all: true) do %>
                <span>
                  <%= select_tag :convert_all_from, options_for_select(["doc", "xls", "ppt"]) %>
                </span>
                <span class="pull-right">
                <%= select_tag :convert_all_to, options_for_select(["docx", "xlsx", "pptx"]) %>
                  </span>
                <%= submit_tag 'Convert all', id: 'convert-all-button', class: "hidden", :disabled => @runing_status %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="file_upload" id="all_file_convert">
          <span>Convert All</span>
        </div>
      </div>

    </div>


    <div class="row">

      <div id="results">
        <div id="progress_sector">
          <progress id="nil-progress"></progress>
          <div id="current_filename"></div>
        </div>
        <div id="download-sector" style="display: none;">
          <p>
            Result for convertion by <%= @x2t_name %>
            at <%= @data %>
          </p>
          <div id="format-message"></div>
          <%= link_to "Download", action: :result_page %>
        </div>
      </div>

      <%= form_tag('/kill_x2t', multipart: true) do %>
          <%= submit_tag 'Kill x2t', id: 'kill_x2t_button' %>
      <% end %>
    </div>
  </div>
</div>
<script>
  document.getElementById('upload_x2t_input').onchange = function () {
    document.getElementById('upload_x2t_button').click()
  };

  document.getElementById('custom_file_convert').onclick = function () {
    document.getElementById('custom_file_button_convert').click()
  };

  document.getElementById('all_file_convert').onclick = function () {
    document.getElementById('convert-all-button').click()
  };
</script>