<p>Combain</p>
<% if !@x2t_last.nil? %>
    <p>Last x2t: <b><%= X2t.last.version %></b></p>
    <p>Upload Data: <b><%= X2t.last.created_at %></b></p>
<% else %>
    <p>Last x2t is not found </p>
<% end %>

<p>Upload new x2t</p>
<%= form_tag('/upload_x2t', multipart: true) do %>
    <%= file_field_tag 'x2t' %>
    <%= submit_tag 'Upload', id: 'upload_x2t_button', :disabled => @runing_status  %>
<% end %>

<div>
  <p>Convert custom file</p>
  <%= form_tag('/upload_file', multipart: true) do %>
      <%= file_field_tag 'custom_file' %>
      <%= select_tag :convert_to, options_for_select(["docx", "xlsx", "pptx"]) %>
      <%= submit_tag 'Convert' %>
  <% end %>
</div>

<div class="all_files_convert">
  <p>Convert all files</p>
  <%= form_tag('/convert_all_by_format', multipart: true, convert_all: true) do %>
      <%= select_tag :convert_all_from, options_for_select(["doc", "xls", "ppt"]) %>
      <%= select_tag :convert_all_to, options_for_select(["docx", "xlsx", "pptx"]) %>
      <%= submit_tag 'Convert all', id: 'convert-all-button', :disabled => @runing_status %>
  <% end %>
</div>

<div style="height: 300px; width: 500px; background-color: #730E15" data-remote="true" id="results">
  <div id="progress_sector">
   <progress id="nil-progress"></progress>
    <div id="current_filename"></div>
  </div>
  <div id="download-sector" style="display: none;">
    <p>
      Result for convertion by <%= @x2t_name %>
      at <%= @data %>
    </p>
    <div id="format-message"></div>
    <%= link_to "Download", action: :result_page %>
  </div>
</div>
<%= @filename %>